* {
    box-sizing: border-box;
}

body {
    font-family:  Helvetica, sans-serif;
    font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
}

a {
    color: inherit;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    padding: 20px 0
}

.header-container {
    display: flex;
    justify-content: space-between;
}

.header nav > ul {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header nav > ul > li {
    padding: 5px 10px;
}

.header nav > ul > li > a {
    border-bottom:  2px solid  transparent;
    text-decoration: none;
    transition: border-bottom  0.3s ease;
}

.header nav > ul > li > a:hover {
    border-bottom:  2px solid  #000;
}

main h1 {
    margin-bottom: 10px;
}

.logo {
    padding-left: 20px;
    border-left: 2px solid #000;
}

.logo > a {
    text-decoration: none;
    transition: color  0.3s ease;
}

.logo > a:hover {
    color: rgba(51, 51, 51, 0.98);
}

.footer-container {
    display: grid;
    grid-template-columns: auto 100px auto;
    align-items: center;
    justify-content: space-between;
}
